<script type="text/javascript">
  var data = [<%= DisplaySet.tree.to_json.html_safe %>];

  $(function() {
    $('#set-tree').tree({
        data: data,
        autoOpen: 0
    });

    $('#set-tree').bind(
      'tree.select',
      function(event) {
        if (event.node) {          
          if (event.node.id == "hull:rootSet") {
            $('#view-set').attr("disabled", true)
            $('#edit-set').attr("disabled", true)
            $('#new-set').attr("disabled", false)      
          }
          else {
            $('#view-set').attr("disabled", false)
            $('#edit-set').attr("disabled", false)
            $('#new-set').attr("disabled", false)       
          }
        }
        else {
          $('#view-set').attr("disabled", true)
          $('#edit-set').attr("disabled", true)
          $('#new-set').attr("disabled", true)     
        }
      }
    );


  });

  function ViewSet(action) {
    var node = $('#set-tree').tree('getSelectedNode');
    if (node) {
      id = node.id;
      if (action == "view") {
        window.location.href = "/display_sets/" + id;
      }
      else if (action == "edit") {
        window.location.href = "/display_sets/" + id + "/edit";
      }     
    }
    else {
      alert("Please select a set");
    }
  }

  function NewSet() {
    var node = $('#set-tree').tree('getSelectedNode');
    if (node) {
      id = node.id;   
      window.location.href = "/display_sets/new?display_set_id=" + id; 
    }
    else {
      alert("Please select a set");
    }
  }

</script>

<div class="row-fluid">
  <div class="span16">
    <div class="page-gutter">
      <%#= link_to "&lt;&lt;Browse view".html_safe, sufia.generic_file_path %>
      <ul id="set-tree-nav" class="nav nav-tabs">
        <li class="active" id="set_tree_link">
          <a href="#set_tree" data-toggle="tab">Full list of all the display sets within hyhull</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="set_tree" class="tab-pane active">            
          <div id="set-tree" class="modal-body"></div>      
          <div class="well btn-group span16 square-corners">
            <button id="view-set" class="btn" disabled onclick="ViewSet('view')">View</button>
            <button id="edit-set" class="btn" disabled onclick="ViewSet('edit')">Edit</button>
            <button id="new-set" class="btn" disabled onclick="NewSet()">New set</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>