<div class="row-fluid">
	<div class="span16">
	  <div class="page-gutter">
	    <h2><small>Display Sets</small></h2>
	  </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span16">
	    <%= render :partial => "set_tree" %>
	</div>
</div>