<div class="container-fluid">
  <div class="page-gutter">
      <div class="row">
        <div class="span12">          
          <h2><%= @dataset.title %></h2>
          <h3>Dataset <small><%= show_resource_link(@dataset.id)  if @dataset.persisted?  %></small></h3>
        </div>
      </div>
      <%= render partial: "shared/resource_content_edit", locals: { resource: @dataset } %>
      <%= render partial: "edit" %>
  </div>
</div>