<h1>Exhibits</h1>
<% @exhibits.each do |exhibit| %>
  <div>
    <% if exhibit.datastreams["thumbnail"].nil? then image_url = "/assets/rails.png" else image_url = "/assets/#{exhibit.id}/thumbnail" end %>
    <%= image_tag image_url, alt: exhibit.title %>
    <h4><%= exhibit.title %></h4>
    <p><%= exhibit.description %></p>
    <%= link_to "View exhibits", display_set_exhibits_path(exhibit) if exhibit.instance_of?(DisplaySet) %>
  </div>
<% end %>

