// config
$footer-background-color: darken($neutral-color-dark, 15%);
$footer-text-color: $neutral-color-light;
$footer-padding: $site-gutter;
$footer-body-text: ($base-font-size * .95);
$footer-top-color: $pure-black;
$footer-height: 272px;

@mixin footer-link {
  a { 
    color: $footer-text-color;
    &:hover { color: lighten($footer-text-color, 25%); }
  }
}

// base
footer {
  height: $footer-height;
  position: absolute;
  width: 100%;
  z-index: -20;

  // > small screen footer adjustment
  @media (min-width: 767px) {     
    .footer {
      // fix footer; 
      position: absolute;
      // increase footer padding to replace height lost when footer top is hidden
      .footer-body { padding-top: ($footer-padding * 2) !important; }
      // hide block break before version number
      .footer-bottom { .footer-hr { display: none; } }
    } 
    // hide footer top
    .footer-top { display: none !important; } 
  }

  .footer-top {
    background: $footer-top-color;
    min-height: $footer-padding;
    padding: $footer-padding;
    // display: block;
  }
  .footer {
    background: $footer-background-color;
    width: 100%;
    font-size: $footer-body-text;
    color: $footer-text-color;
    text-shadow: 1px 1px darken($footer-text-color, 55%);
    .footer-body {
      @include footer-link;
      padding: $footer-padding;
      .footer-column {
        @include footer-link;
        ul {
          list-style: none inside;
          margin-left: 0.5em;
          padding: 0 0 0.5em;
          height: 128px;
          margin-bottom: 1em;
          li {
            padding-right: 1em;
            h4 { margin: 0; padding-bottom: 0.5em; }
            > ul { list-style: circle inside none; font-size: ($footer-body-text * .85)}
          }
        }
      }
      .footer-bottom {
        text-align: right;
        margin-top: $footer-padding;
        padding-right: $footer-padding;
        .footer-hr { margin: 0; border: 0; }
      }
    }
  }
}
