// Bootstrap variables
$gridColumns:           16;
$gridGutterWidth:       0px;
$gridGutterWidth768:    0px;
$gridGutterWidth1200:   0px;
$inputBorderRadius:     2px;
$navbarBrandColor:      #fff;
$navbarLinkColor:       #c5c5c5;
$navbarLinkColorHover:  #fff;
$textColor:             #333;
$bodyBackground:        #fff; 
$baseBorderRadius:      0px;

// Typography
// -------------------------
$baseFontSize:          14px;
$baseLineHeight:        20px;
