<div class="span14 offset1">  
  <div class="tile">
    <div class="row-fluid">

      <div class="span16">
        <h2>
        Create a journal article <br><small>As a staff member you can create a journal article...</small></h2>
        <p>
          <%= link_to "Create", new_journal_article_path %>
        </p>
      </div>
 
    </div>
  </div>
</div>