<div class="tile" style="padding-top: 0;">
  <p>
    <strong>Open access compliance - submission of journal articles and other research outputs </strong>
  </p>
  <p>
    Submission of journal articles through the Hydra self-deposit service has now ceased, as of Friday 17th November.
  </p>
  <p>
    All submissions should now be made through the Worktribe research information system, available 
    <%= link_to "here", 
      "https://hull-research.worktribe.com/",
      title: "Worktribe site", target: "_blank" %>.
  </p>
  <p>
    Worktribe will be used for the recording and management of all research outputs from 21st November 2017.  Please see the associated 
    <%= link_to "Sharepoint site", 
      "https://share.hull.ac.uk/Services/Worktribe/_layouts/15/start.aspx#/SitePages/Home.aspx",
      title: "Sharepoint site", target: "_blank" %>
    for further information and guidance, as well as details of training sessions.
  </p>
</div>
