<div class="tile">
  <h2>
    Open Access publication <br/>
    <small>Submit your journal articles to Hydra</small></h2>

  <p>
    Click <em><%= link_to "Deposit", new_journal_article_path, 
    title: "Deposit a journal article" %></em> to submit the accepted 
    version of your article. 
  
    Email 
    <%= link_to "repository@hull.ac.uk", 
      "mailto:repository@hull.ac.uk?subject='Problems submitting journal article to Hydra'",
      title: "Email us" %>
    if you have any difficulties. 

    See 
    <%= link_to "http://libguides.hull.ac.uk/openaccess", 
      "http://libguides.hull.ac.uk/openaccess", target: "_blank",
      title: "Open Access information and assistance" %>
    for more information and assistance
  </p>
  <p>
    Click on the <i class="icon-info-sign"></i> for guidance on completing the
    different parts of the template
  </p>
  <p>
    <%= link_to "Deposit", new_journal_article_path, 
    title: "Deposit a journal article" %>
  </p>

</div>
