<div class="span14 offset1">  
  <div class="tile">
    <div class="row-fluid">

      <div class="span16">
        <p>
          <%= link_to "Create a journal article", new_journal_article_path %>
        </p>
      </div>
 
    </div>
  </div>
</div>