<div class="span10 offset1">
  <%= render :partial => 'shared/create_journal_article_text' %> 
</div>
<div class="span4 visible-tablet visible-desktop">
  <%= render :partial => 'shared/create_journal_article_icon' %>
</div>
