<div class="span14 offset1">
  <div class="tile">
    <div class="row-fluid">

      <div class="span16">
            <h2>
                  Group Queues
            </h2>
            <p>
              <%= link_to("YIF Queue", "/resources/?f%5Bis_member_of_ssim%5D%5B%5D=info:fedora/hull:yifQueue&results_view=true") << tag(:br) if yifGroup_user? %>
            </p>
      </div>

    </div>
  </div>
</div>