<div class="tile">
  <h2>
    Open Access publication<br/>
    <small>Submit your journal articles to Hydra</small>
  </h2>

  <p>
    Email the accepted version to 
    <%= link_to 'repository@hull.ac.uk', 'mailto:repository@hull.ac.uk?subject=Journal article submission' %> 
  </p>
  <p>
    See 
    <%= link_to 'http://libguides.hull.ac.uk/openaccess', 'http://libguides.hull.ac.uk/openaccess', :target => '_blank' %> 
    for more information.
  </p>

</div>
