<div class="tile">
    <h2>
        Collections <br/><small>Have a look at our collections...</small></h2>
    
    <p>

    </p>

    <p>
        <%= link_to "Collections", "/resources/?f[is_member_of_ssim][]=info:fedora/hull:rootDisplaySet&results_view=true" %>
    </p>
    
  </div>