
<h1 class="hidden-phone">Welcome to Hull's digital repository, Hydra</h1>
<h2 class="visible-phone">Welcome to Hull's digital repository, Hydra</h2>
<p id="header-text">Search the University's digital collections using the search box, or browse them via the links below...</p>
<%= render :partial => 'pages/home_search_form' %>