<div class="span5 offset3">
  <div class="tile tile-light-grey tile-shadow-left">
    <h2>
                    University content</h2>
                <p>
                    <i class="icon-asterisk"></i> If you are a University of Hull student or member of staff and have not yet signed into Hydra, please do so using the link in the main header bar anytime. <a href="#" title="Link">Sign in</a>
                </p>
                <p>
                    <i class="icon-eye-open"></i> Signing in will allow you access to <em>University only</em> content.
                </p>
                <p>
                    <i class="icon-asterisk"></i> You can sign in anytime whilst using Hydra by clicking <em>Sign in</em> on the main header.
                </p>
  </div>
</div>