<!-- Main hero unit for primary  action -->
<div class="span8 offset1">
  <div class="tile">
    <div class="row-spacer visible-desktop">
    &nbsp;
    </div>
   <%= render :partial => 'shared/home_search_text' %>
  </div>
</div>
<div class="span6">
	<div class="tile">

	<div class="row-spacer visible-desktop">
	    &nbsp;
    </div>
	<div class="row">
		<div class="span16">
		  <div class="tile tile-hydra-light-blue">
		    <p>The Hydra repository is a digital archive for the University of Hull. It has been developed to hold, manage, preserve and provide access to the growing body of digital material generated through the research, teaching, and administrative activities of the University</p>
		  </div>
		</div>
	</div>
  </div>
</div>