<div class="tile">
    <h2>
        Browse <br/><small>You can browse our repository by...</small></h2>

    <p>
    Based on our latest statistics these are currently the most popular searches in the repository. Sign in to discover the most popular searches for University only content.
    </p>

    <p>
        <%= link_to 'Genre', '/resources/facet/genre_sim' %><br/>
        <%= link_to 'Subject', '/resources/facet/subject_topic_sim' %><br/>
        <%= link_to 'Creator', '/resources/facet/creator_name_ssim' %><br/>
        <%= link_to 'Organisation creator', '/resources/facet/creator_organisation_name_sim' %>

</div>