<div class="span7">
	<div class="tile">
	    <h2>
	       Help us help you<br/>
	       <small>
	       Provide us with feedback to enable us to further improve our service to you
	       </small>
	    </h2>
	    <p>
	        <i class="icon-user"></i> Our staff are constantly working to expand the quantity and range of materials available through Hydra.
	    </p>
	    <p>
	        <i class="icon-envelope"></i> Feedback and suggestions for future development and collections are welcome: <%= link_to 'please email Chris Awre', 'mailto:c.awre@hull.ac.uk' %>.
	    </p>
	</div>
</div>
