<% if has_user_authentication_provider? %>
    <% if current_user %>
     
	<!--picture grid (signed in)-->
	<div class="row-fluid">
		<div class="span8">
		<a href="/resources?button=&f[genre_sim][]=Thesis+or+dissertation&q=&search_field=all_fields&utf8=✓">
		  <div class="picture-tile picture-tile-exam">
		     
		  </div>
		  </a>
		</div>
		<div class="span8">
		<a href="/resources?button=&f[genre_sim][]=Policy+or+procedure&q=&search_field=all_fields&utf8=✓" title="University policies selection">
		  <div class="picture-tile picture-tile-thesis">
		    
		  </div>
		  </a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8">
		<a href="/resources?button=&f[genre_sim][]=Policy+or+procedure&q=&search_field=all_fields&utf8=✓" title="University policies selection">
		  <div class="picture-tile picture-tile-handbook">
		    
		  </div>
		</div>
		</a>
		<div class="span8">
		  <div class="picture-tile tile-light-grey">
		    
		  </div>
		</div>
	</div>

    <% else %>

    <!-- picture grid default -->
	<div class="row-fluid">
		<div class="span8">
		<a href="/resources?button=&f[genre_sim][]=Thesis+or+dissertation&q=&search_field=all_fields&utf8=✓" title="Electronic theses selection">
		  <div class="picture-tile picture-tile-thesis">
		     
		  </div>
		  </a>
		</div>
		<div class="span8">
		<a href="/resources?button=&f[genre_sim][]=Policy+or+procedure&q=&search_field=all_fields&utf8=✓" title="University policies selection">
		  <div class="picture-tile picture-tile-policy">
		  </div>
		</a>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8">
			<a href="/resources?button=&f[genre_sim][]=Policy+or+procedure&q=&search_field=all_fields&utf8=✓" title="Domesday policies selection">
			  <div class="picture-tile picture-tile-domesday">
			  </div>
		 </a>
		</div>
		<div class="span8">
		  <div class="picture-tile tile-light-grey">   
		  </div>
		</div>
	</div>
    	
    <% end %>
<% end %>
















