<div class="span7 offset1">
  <%= render :partial => 'shared/home_popular_searches_text' %> 
</div>
<div class="span7">
  <div class="tile">
    <%= render :partial => 'shared/home_popular_searches_grid' %>
  </div>
</div> 