<div class="tile">
  <h2>
    Collections <br/><small>Have a look at our collections...</small></h2>
  <p>
  </p>
  <p>
    <%= link_to "Collections", "/resources/?f[is_member_of_ssim][]=info:fedora/hull:rootDisplaySet&results_view=true" %>
  </p>
  <p>
  </p>
  <p>
    <%= exam_papers_link %>
  </p>
  <p>
    Submission to the collection of research outputs has now moved to the Worktribe research information system at  
    <%= link_to "https://hull-research.worktribe.com", 
      "https://hull-research.worktribe.com",
      title: "https://hull-research.worktribe.com" %>.
    Please use this system for open access compliance and submission of all other research outputs.
  </p>
</div>