<!--picture grid -->

<div class="row-fluid">
	<div class="span8">
	  <div class="picture-tile picture-tile-books">
	    1 
	  </div>
	</div>
	<div class="span8">
	  <div class="picture-tile tile-light-grey">
	    2
	  </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span8">
	  <div class="picture-tile tile-white tile-green-blue">
	    3
	  </div>
	</div>
	<div class="span8">
	  <div class="picture-tile tile-white tile-cream">
	    4
	  </div>
	</div>
</div>