<!--picture grid -->

<div class="row-fluid">
	<div class="span8">
	  <div class="picture-tile picture-tile-books">
	     
	  </div>
	</div>
	<div class="span8">
	  <div class="picture-tile tile-maroon">
	    
	  </div>
	</div>
</div>
<div class="row-fluid">
	<div class="span8">
	  <div class="picture-tile tile-aubergine">
	    
	  </div>
	</div>
	<div class="span8">
	  <div class="picture-tile tile-tangerine">
	    
	  </div>
	</div>
</div>