<!-- Main hero unit for primary  action -->
<div class="span14 offset1">
  <div class="tile">
    <div class="row-spacer visible-desktop">
    &nbsp;
    </div>
   <%= render :partial => 'shared/home_search_text' %>
  </div>
</div>
