<div class="row-spacer">
  <div class="span16 well square-corners">
    <%= f.button :submit, "Save", :class => 'btn square-corners' %>
    <% if f.object.persisted? && can?(:destroy, f.object) %>
      <%= link_to "Delete", f.object, class: 'btn btn-danger square-corners', data: {confirm: "Are you sure you want to permanently Delete this journal article?", method: :delete } %>
    <% end %>
  </div>
</div>