<% if local_assigns[:resource] && resource.datastreams.include?("contentMetadata") %>
  <div class="row">
    <% if resource.persisted? %>
      <div class="span12">
        <div class="accordian" id="content-accordian">
          <div class="accordian-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#content-accordian" href="#collapse-content">Add & edit content</a>
            </div>
          </div>      
        </div>
        <div class="accordian" id="content-accordian">
          <div class="accordian-group">
            <div id="collapse-content" class="accordion-body collapse">
              <div class="accordion-inner well">
                <%= render partial: 'content_metadata/edit_content_metadata', locals: { content_metadata: resource.contentMetadata } %>
                <%= render partial: 'shared/file_upload' %>
              </div>
            </div>
          </div>      
        </div>
      </div>
    <% end %>  
  </div>
<% end %>
