<% if local_assigns[:resource] && resource.datastreams.include?("contentMetadata") %>

  <div class="row-fluid">

    <% if resource.persisted? %>

      <div class="span16">
        <div class="page-gutter">
          <div class="sidenav" id="facets">
            <div class="accordian-group">
              <div class="facet_limit">
                <div data-toggle="collapse" data-target="#collapse-content" style="cursor: pointer;">
                  <h5>Add & edit content</h5>
                </div>   
                <div id="collapse-content" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <%= render partial: 'content_metadata/edit_content_metadata', locals: { content_metadata: resource.contentMetadata } %>
                    <%= render partial: 'shared/file_upload' %>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>

    <% end %> 

  </div>

<% end %>
