<% if local_assigns[:resource] && resource.datastreams.include?("contentMetadata") %>

  <div class="row-fluid">

    <% if resource.persisted? %>

      <div class="span10">
        <div class="page-gutter">
          <div class="sidenav" id="facets">
            <div class="accordian-group">
              <div class="facet_limit">
                <div data-toggle="collapse" data-target="#collapse-content" style="cursor: pointer;">
                  <h5>Add & edit content</h5>
                </div>   
                <div id="collapse-content" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <%= render partial: 'content_metadata/edit_content_metadata', locals: { content_metadata: resource.contentMetadata } %>
                    <%= render partial: 'shared/file_upload' %>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>
      <div class="span6 visible-tablet visible-desktop">
        <% if staff_user? && !contentAccessTeam_user? && !admin_user? %>
          <div class="message-container">
            <ul>
              <li>Step 1: Choose to add a file to record</li>
              <li>Step 2: Save file (repeat for more than one file)</li>
              <li>Step 3: Review record details and make any changes</li>
              <li>Step 4: Save record (use the button at the bottom of the page)</li>
              <li>Step 5: Submit for processing.</li>
            </ul>
          </div>
        <% end %>
      </div>

    <% end %> 

  </div>

<% end %>
