<% unless resource.resource_proto? %>
<script type="text/javascript">
  var data = [<%= StructuralSet.tree.to_json.html_safe %>];

  $(function() {
    $('#tree1').tree({
        data: data
    });
  });

  $('#tree1').bind(
    'tree.select',
    function(event) {
        if (event.node) {
            // node was selected
            var node = event.node;
            alert(node.name);
        }
        else {
            // event.node is null
            // a node was deselected
        }
    }
  );


</script>
  <!-- Button to trigger modal -->
  <a href="#set-select-modal" role="button" data-toggle="modal">Edit set membership</a>
  <!-- Modal -->
  <div id="set-select-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AdditionalMetadataLabel" aria-hidden="true">
    <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Set selection</h3>
    </div>  
    <div class="modal-body">
      <p>Selecting a set from below will give the resource its permissions.</p>
      <div id="tree1"></div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
<% end %>