<% # Resources do not have changeable states until they saved... %>
<% if object.persisted? && !object.resource_state.nil? %>
<!--     <h3>Resource workflow</h3> -->
    <div class="pull-left">Your journal article is saved but not yet processed </div>  
    <% # Gets the current Resource state queue membership %>
    <% resource_state = object.resource_state  %>

    <% # Get the evailable state events, e.g proto => qa... %>
    <% state_events = object.resource_state_events %>
    <%= form_tag( { controller: :resource_workflow, action: :update, id: params[:id]}, { method: :put, :class => 'pull-right' } ) do |f| %>
      <% state_events.each do |event| %>
        <%= button_tag( 'Submit for processing', :type => 'submit', name: :resource_state, :value => event.to_s, :confirm => "Are you sure you want to send your journal article for processing", class: "btn square-corners") %>
      <% end %>       
    <% end %>

<% end %>