<legend><h2>Identifiers</h2></legend>
<div class="fields">
 <%= render partial: "metadata/multi_field_edit", locals: { object: @uketd_object, field: "grant_number" } %>
 <%= f.input :ethos_identifier %>
</div>
