<div class="page-gutter">
<div class="row-spacer"></div>
<div class="fields">
 <h6>Qualification</h6>

 <%= f.input :qualification_level, collection: @uketd_object.qualification_level_terms %>
 <%= f.input :qualification_name, collection: @uketd_object.qualification_name_terms %>

 <h6>Dissertations</h6>
 <%= f.input :dissertation_category, collection: @uketd_object.dissertation_category_terms %>
</div>
</div> 