<div class="container-fluid">
  <div class="row-fluid">
  	<div class="span10">
  	  <div class="row">
  	    <div class="span12">          
          <h2><%= @uketd_object.title %></h2>
          <h3>Thesis or dissertation</h3>
        </div>
        <% # Only show the Add/edit content files when the initial metadata has been added and object created %>
        <% if @uketd_object.persisted? %>
          <div class="span6">
            <%= link_to "Add/Edit content files", controller: "content_metadata", action: "edit", id: @uketd_object %>
          </div>
          <div class="span6">  
            <% unless @uketd_object.resource_proto? %>
              <%= render(:partial => "metadata/additional_metadata", :locals => { resource: @uketd_object }) %>
            <% end %>
          </div>
        <% end %>
        <div class="span12">
          <%= render :partial => "edit" %>
        </div>
      </div>
    </div>
    <div class="span2">
      <!--Sidebar content-->
    </div>
  </div>
</div>