<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <div class="row">
        <div class="span12">          
          <h2><%= @uketd_object.title %></h2>
          <h3>Thesis or dissertation <small><%= show_resource_link(@uketd_object.id)  if @uketd_object.persisted?  %></small></h3>
        </div>
      </div>
      <%= render partial: "shared/resource_content_edit", locals: { resource: @uketd_object } %>
      <%= render partial: "edit" %>
    </div>
  </div>
</div>