<h1>About the digital repository</h1>

<section id="about">
  <div class="text-block">
    <p>Hydra is a repository for digital materials at the University of Hull. It can hold and manage any type of digital material, and is being developed in response to the growth in the amount of digital material that is generated through the research, education and administrative activities within the University. The repository is particularly well suited for materials that can be shared (openly or on a restricted basis) and/or where the material needs to be preserved for the medium to long-term. Materials currently being managed through the repository include images, project reports, undergraduate dissertations, teaching materials, datasets, collections of past exam papers and doctoral theses.</p>
  </div>
  <div class="text-block">
    <p>Feedback and suggestions for future development are welcome: please email Chris Awre. Examples of further content to be added in the future include published articles and conference papers, book chapters, and other forms of written research output from UoH academic staff and postgraduate students: in addition to research material, the repository can support the work of the teaching and learning community, and the University's administrators, holding textual material, sound and image collections, and software as required.</p>
  </div>
   <div class="text-block">
    <p>This browser page is but one of a number of ways in which material in the repository can be accessed: search and direct linking from within eBridge or other websites, for example, are two more. Please explore the available options and check back for latest additions over the coming months.</p>
   </div>
  <div class="text-block">
    <p>The Hydra repository is provided by Library and Learning Innovation working in close co-operation with the Information and Communication Technology Department and the academic community of the University of Hull.</p>
    </div>     
</section>

<section id="acknowledgements" >
  <h3>Acknowledgements</h2>
  <div class="text-block" id="searching">
    <p>The user interface software that drives this Hydra interface was developed jointly by the University of Hull, Stanford University, the University of Virginia and MediaShelf LLC as part of the Hydra Project.</p>
  </div>
  <div class="text-block">
    <p>This site uses Google Analytics.</p>
  </div>       
</section>