<h2>Contact information</h2>

<section id="about">
  <div class="text-block">
    <h3>Chris Awre</h3>
    <p>Head of Information Management: <a href="mailto:c.awre@hull.ac.uk?cc=r.green@hull.ac.uk&amp;subject=Hydra">c.awre@hull.ac.uk</a></p>
    <p>
    Tel: +44 (0)1482 465441
    </p>
  </div>
  <div class="text-block">
    <h3>Richard Green</h3>
    <p>Project Manager for Hydra in Hull: <a href="mailto:r.green@hull.ac.uk?cc=c.awre@hull.ac.uk&amp;subject=Hydra">r.green@hull.ac.uk</a></p>
  </div>
  <div class="text-block">
    <h3>Diane Leeson</h3>
    <p>LLI Content and Access Team leader: <a href="mailto:d.c.leeson@hull.ac.uk?subject=Hydra">d.c.leeson@hull.ac.uk</a></p>
    <p>
    Tel: +44 (0)1482 466832
    </p>
    </div>     
</section>

<section id="address" >
  <h3>Postal address</h2>
  <div class="text-block" id="searching">
    <p>Chris Awre<br/>
      Head of Information Management<br/>
      Library and Learning Innovation<br/>
      Brynmor Jones Library<br/>
      The University of Hull<br/>
      Cottingham Road<br/>
      Hull HU6 7RX<br/>
      UK</p>
  </div>
  
</section>