<h2>Contact information</h2>

<section id="about">
  <div class="text-block">
    <h3>Chris Awre</h3>
    <p>Head of Information Management: <a href="mailto:c.awre@hull.ac.uk?cc=r.green@hull.ac.uk&amp;subject=Hydra">c.awre@hull.ac.uk</a></p>
    <p>
    Tel: +44 (0)1482 465441
    </p>
  </div>
  <div class="text-block">
    <h3>Richard Green</h3>
    <p>Project Manager for Hydra in Hull: <a href="mailto:r.green@hull.ac.uk?cc=c.awre@hull.ac.uk&amp;subject=Hydra">r.green@hull.ac.uk</a></p>
  </div>
  <div class="text-block">
    <h3>Michael Latham</h3>
    <p>Research Services Adviser: <a href="mailto:m.latham@hull.ac.uk?subject=Hydra">m.latham@hull.ac.uk</a></p>
    <p>
    Tel: +44 (0)1482 465273
    </p>
    </div>
      <div class="text-block">
      <h3>General repository enquiries and content for deposit</h3>
      <p><a href="mailto:repository@hull.ac.uk?subject=Hydra general repository enquiries and content for deposit">repository@hull.ac.uk</a></p>
    </div>     
    <div class="text-block">
      <h3>Open access enquiries</h3>
      <p><a href="mailto:mailto:openaccess@hull.ac.uk?subject=Hydra open access enquiry">mailto:openaccess@hull.ac.uk</a></p>
    </div>
    <div class="text-block">
      <h3>Research data management enquiries</h3>
      <p><a href="mailto:rdm@hull.ac.uk?subject=Hydra research and data enquiry">rdm@hull.ac.uk</a></p>
    </div>          
</section>

<section id="address" >
  <h3>Postal address</h2>
  <div class="text-block" id="searching">
    <p>Chris Awre<br/>
      Head of Information Management<br/>
      Library and Learning Innovation<br/>
      Brynmor Jones Library<br/>
      The University of Hull<br/>
      Cottingham Road<br/>
      Hull HU6 7RX<br/>
      UK</p>
  </div>
  
</section>