<h1>Cookies</h1>

<section id="about">
  <div class="text-block">
    <p>To help us manage the Hydra site, we sometimes place small data files on your computer. These are known as cookies. Most websites do this. They improve things by:</p>
    <ul>
      <li>remembering settings, so you don’t have to keep re-entering them whenever you visit a new page</li>
      <li>measuring how you use the website so we can make sure it meets your needs</li>
    </ul>
  </div>
  <div class="text-block">
    <p>Our cookies aren’t used to identify you personally. They’re just here to make the site work better for you. Indeed, you can manage and/or delete these small files as you wish.</p>
  </div>
   <div class="text-block">
    <p>To learn more about cookies and how to manage them, visit
        <a title="Information about cookies" href="http://www.aboutcookies.org/">AboutCookies.org</a>.
        Or please read on to find out more about how and where we use
        cookies.</p>
   </div>   
</section>

<section id="cookies" >
  <h2>How we use cookies</h2>
  <div class="text-block" >
    <p>Hull's Hydra website uses cookies in several places – we’ve listed each of them below with more details about why we use them and how long they will last.</p>
  </div>
  <div class="text-block">
    <p>Google Analytics stores information about what pages you visit, how long you are on the site, how you got here and what you click on. We do not collect or store your personal information (e.g. your name or address) so this information cannot be used to identify who you are. We do not allow Google to use or share our analytics data.</p>
    <p>
    The following cookies are set by Google Analytics:
    </p>
    <p>
    <table class="table table-striped table-bordered square-corners">
      <thead>
        <tr>
          <th>Name</th>
                  <th>Typical Content</th>
                  <th>Expires</th>
              </tr>
      </thead>
      <tbody>
        <tr>
          <td>_utma</td>
                  <td>randomly generated number</td>
                  <td>2 years</td>
              </tr>
        <tr>
          <td>_utmb</td>
                  <td>randomly generated number</td>
                  <td>30 minutes</td>
              </tr>
        <tr>
          <td>_utmc</td>
                <td>randomly generated number</td>
                <td>when you close your browser</td>
              </tr>
        <tr>
          <td>_utmx</td>
                  <td>randomly generated number</td>
                  <td>2 years</td>
              </tr>
        <tr>
          <td>_utmxx</td>
                  <td>randomly generated number</td>
                  <td>2 years</td>
              </tr>
        <tr>
          <td>_utmz</td>
                  <td>randomly generated number and information on how the site was
                  reached (e.g. direct or via a link, organic search or paid
                  search)</td>
                  <td>6 months</td>
              </tr>
      </tbody>
    </table>
    </p>
  </div>  
  <div class="text-block" >
    <h3>Session information</h3>
    <p>To help us manage the 'session' in Hydra on your browser we generate a cookie that allows us to keep track of, for instance, your searches. This is completely anonymous information but allows us to provide you with facilities like your 'search history'.</p>
    <p>
    <table class="table table-striped table-bordered square-corners">
      <thead>
        <tr>
          <th>Name</th>
                  <th>Typical Content</th>
                  <th>Expires</th>
              </tr>
      </thead>
      <tbody>
        <tr>
          <td>_hull_session </td>
                  <td>a sequence of randomly generated characters</td>
                  <td>when you close your browser</td>
              </tr>
      </tbody>
    </table>
    </p>
  </div>
  <div class="text-block" >
    <h3>Login information (CAS)</h3>
    <p>f you log into Hull University systems, including this one, using our Central Authentication Service (CAS) we store information relating to your successful login. This means that for as long as your browser remains open, or until you click a 'logout' button, you will not be asked to provide your login details again.</p>
    <p>
    <table class="table table-striped table-bordered square-corners">
      <thead>
        <tr>
          <th>Name</th>
                  <th>Typical Content</th>
                  <th>Expires</th>
              </tr>
      </thead>
      <tbody>
        <tr>
          <td>JSESSION</td>
                  <td>a sequence of randomly generated characters</td>
                  <td>when you close your browser</td>
              </tr>
        <tr>
          <td>CASTGC</td>
                  <td>a sequence of randomly generated characters</td>
                  <td>when you close your browser</td>
              </tr>
      </tbody>
    </table>
    </p>
  </div>     
</section>