<h1>Take-down policy</h1>

<section id="about">
  <div class="text-block">
    <p>1. If the University of Hull Digital Repository receives proof of the following in regard of any item or items within the repository, the relevant item(s) will be taken down immediately pending further investigation.
    </p>
    <ol type="a">
      <li>Proven copyright violation or plagiarism</li>
      <li>Proven IPR violations other than those above</li>
      <li>Breach of National Security</li>
      <li>Falsified information within the item(s)</li>
    </ol> 
  </div>
  <div class="text-block">
    <p>2. The University of Hull Digital Repository will also consider taking down content upon the receipt of complaints other than those above</p>
  </div>
   <div class="text-block">
    <p>3. Items may be withdrawn by repository staff at the request of the author/copyright holder.</p>
   </div>
  <div class="text-block">
    <p>4. Acceptable reasons for withdrawal include:
     <ol>
        <li>Publishers' rules</li>
        <li>Proven copyright violation or plagiarism</li>
        <li>Legal requirements and proven violations</li>
        <li>National Security</li>
        <li>Falsified information within the item(s)</li>
      </ol>
    </p>
    </div>
    <div class="text-block">
    <p>5. Withdrawn items will not deleted per se, but removed from view.
    </p>
    </div> 
    <div class="text-block">
    <p>6. Withdrawn items' identifiers/URLs are retained indefinitely.
    </p>
    </div> 
    <div class="text-block">
    <p>7. URLs will continue to point to 'tombstone' citations, to avoid broken links and to retain item histories, with:
     <ol>
        <li>a link to a replacement version, where available</li>
        <li>a note explaining the reasons for withdrawal</li>
      </ol>
    </p>
    </div> 
    <div class="text-block">
    <p>8. The metadata of withdrawn items will not be searchable.
    </p>
    </div>
    <div class="text-block">
    <p>9. Any withdrawal of items by repository staff will be accompanied by a notice of withdrawal to the author with the reason for such withdrawal.
    </p>
    </div>
    <div class="text-block">
    <p>10. Where the reason for take down or withdrawal is found to be un- or only partly substantiated the content may be re-exposed into the repository, with any appropriate amendments to the content itself or access arrangements.
    </p>
    </div>
    <div class="text-block">
    <p>11. The University of Hull Digital Repository will alert University of Hull authorities as appropriate where any further action may be required.
    </p>
    </div>    
</section>