@function workflow-text-color($text-color) {
  @return if( lightness( $text-color ) > 50, #333, #fff);
}

.workflow-wrapper.workflow-proto {
	border: 10px solid $proto-color !important;
	div.wrapper-header {
		background: $proto-color !important;
		div#workflow-message { color: workflow-text-colour($proto-color) !important; }
	}
}

.workflow-wrapper.workflow-qa {
	border: 10px solid $qa-color !important;
	div.wrapper-header {
		background: $qa-color !important;
		div#workflow-message { color: workflow-text-colour($qa-color) !important; }
	}
}

.workflow-wrapper.workflow-hidden {
	border: 10px solid $hidden-color !important;
	div.wrapper-header {
		background: $hidden-color !important;
		div#workflow-message { color: workflow-text-colour($hidden-color) !important; }
	}
}

.workflow-wrapper.workflow-published {
	border: 10px solid $published-color !important;
	div.wrapper-header {
		background: $published-color !important;
		div#workflow-message { color: workflow-text-colour($published-color) !important; }
	}
}

.workflow-wrapper.workflow-deleted {
	border: 10px solid $deleted-color !important;
	div.wrapper-header {
		background: $deleted-color !important;
		div#workflow-message { color: workflow-text-colour($deleted-color) !important; }
	}
}