<div class="page-gutter">
  <div class="row-spacer"></div>

    <%= render "shared/error_messages", :target => @book %>
    <%= render :partial => "publication_fields", :locals => { f: f , resource: @book } %>

</div>