<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">
      <div class="row">
        <div class="span12">          
          <h2><%= @exam_paper.title %></h2>
           <h3>Examination paper <small><%= show_resource_link(@exam_paper.id)  if @exam_paper.persisted?  %></small></h3>
        </div>
      </div>
      <%= render partial: "shared/resource_content_edit", locals: { resource: @exam_paper } %>
      <%= render partial: "edit" %>
    </div>
  </div>
</div>