  <%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

  #Added Bootstrap class well and 'hidden-phone' for the tools-bar 
-%>
<div class="tools-nav pull-left">  
  <!-- <ul class="nav nav-pills"> -->
      <%= render :partial => 'qr_code' %>
      <%#= render :partial => 'addthis_tool' %>     
  <!-- </ul> -->
</div>
<div class="btn-group pull-left">
  <a class="btn dropdown-toggle square-corners" data-toggle="dropdown" href="#">
    Metadata
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu square-corners">
    <li class="mods">
      <%= link_to "MODS", asset_path(:id => @document.id, :datastream_id => "descMetadata") %>
    </li>
<!--     <li class="dc">
      <%#= link_to "Dublin Core", asset_path(:id => @document.id, :datastream_id => "oai_dc") %>
    </li> -->
    <% # Only ETDs have UKETD-DC metadata %> 
    <% if model_from_document(@document) == "UketdObject" %>
      <li class="uketd_dc">
        <%= link_to "UKETD-DC", asset_path(:id => @document.id, :datastream_id => "UKETD_DC") %>
      </li>
    <% end %>
  </ul>
</div>