<% if can?(:edit, @document.id) %>
  <ul class="nav nav-list">
    <li>
      <fieldset><legend><h3>Content management</h3></legend></fieldset>
    </li>
    <li>
      <%= edit_resource_link(@document) %>
    </li>
  </ul>
  <br/>
<% end %>
  <ul class="nav nav-list">
      <li>
        <%= display_resources(@document) %>
      </li>
      <li>
        <%= set_children_link(@document) %>
      </li>
  </ul>
<br/>