  <%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

  #Added Bootstrap class well and 'hidden-phone' for the tools-bar 
-%>
<div class="tools-nav pull-left">  
  <%= render :partial => 'qr_code' %>
</div>
<div class="btn-group pull-left">
  <a class="btn dropdown-toggle square-corners" data-toggle="dropdown" href="#">
    Metadata
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu square-corners">
    <li class="mods">
      <%= link_to "MODS", asset_path(:id => @document.id, :datastream_id => "descMetadata") %>
    </li>
    <li>
       <%= link_to "Dublin Core", "#{catalog_path(:id => @document.id)}.oai_dc_xml" %>
    </li>
    <% # Only ETDs have UKETD-DC metadata %> 
    <% if model_from_document(@document) == "UketdObject" %>
      <li class="uketd_dc">
        <%= link_to "UKETD-DC",  "#{catalog_path(:id => @document.id)}.uketd_dc_xml" %>
      </li>
    <% end %>
  </ul>
</div>