<div class="page-gutter">
  <h2>Roles</h2>
  <p>This page shows the list of roles that exist within the Hydra application.</p>
  <p><em>Note:</em> The only roles that can be edited are the 'hydra based roles'.  Roles determined by user type (staff, student), Department or Faculty can not be edited in Hydra at Hull.<p>
  <% # Removed the standard Create role function %>
  <div class="row-fluid">
    <div class="span8">
      <h4>Hydra Roles</h4>
      <table class="table table-striped table-bordered square-corners">
        <thead>
          <tr>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.description %></td>
            <td><%=link_to t("hyhull.roles.edit_role_link_text"), role_management.role_path(role) %></td>
           </tr>
         <% end %>
      </table>
    </div>
  </div>
</div>
