<%= render "shared/error_messages", :target => @generic_content %>
<legend>Edit Geographic metadata</legend>
<div class="fields">    
  <%= f.input :location_label %>
  <%= f.input :location_coordinates_type, collection:  Datastream::ModsGenericContent.coordinates_types, label: "Coordinates type" %>
  <%= f.input :location_coordinates %>
 </div>
