<fieldset class="edit-standard">
<legend>Administrative metadata</legend>
<% if resource.respond_to?("resource_status") %>
  <%= form.input :resource_status, as: :text %>
<% else %>
  <p>Administrative metadata cannot be display for this resource</p>
<% end %>
</fieldset>
