<div class="page-gutter">
<div class="row-spacer"></div>
	<%= render "shared/error_messages", :target => resource %>
	<!-- <legend><h2>Edit related materials</h2></legend> -->
	<div class="fields">
	  <h6>Web materials</h6> 
	  <%= render partial: "metadata/multi_field_edit", locals: { object: resource, field: "related_web_url", label: "Related materials" } %> 
	  <hr/>
	  <h6>Non web</h6>
	  <%= render partial: "metadata/multi_field_edit", locals: { object: resource, field: "see_also" } %>
	 </div>
 </div>