 <div id="multi-field-edit">
  <div id="field-list">
    <% fields = eval("object.#{field}") %>   
    <% object_name = object.class.to_s.underscore %>

    <%= label_tag field.to_sym, nil,  :class => "control-label" %><br />
    <% if fields.empty? %>
      <div id="fields" class="controls">
        <%= text_field_tag "#{object_name}[#{field}][]", "" %>           
      </div>
    <% else %>
      <% fields.each_with_index do |f,i| %>
       <div id="fields" class="controls">
        <div style="display:block;clear:both;">
          <span class="field" style="float:left">
            <%= text_field_tag "#{object_name}[#{field}][]", f %>
          </span>
          <% unless i.zero? %>
            <span class="icon-minus-sign remove-field"></span><br /> 
          <% end %>     
        </div>
      </div>
      <% end %> 
     <% end %>
   </div>  
  <br /><br />
  <div class="add-field icon-plus-sign controls"></div>  
</div>
