// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hydra-logo-large {
    background: url("/assets/hydra_logo_h100_transparent_bg.png") no-repeat scroll center top #FFFFFF;
    height: 100px;
    margin-left: 0;
    margin-top: 1em;
    padding-bottom: 60px;
}