/* fixes & overrides */

/* bl fixes */

#holdings-record-element dd {
  margin-left: 0;
}

#search_field {
  min-width: 120px;
}

.form-search .input-prepend .search-query {
  margin-left: -1px;
}

.search_history .filterName, .search_history .label {
    color: $neutralcolordark;
    font-style: italic;
}

ul.nav li.menu-item a {
    color: $neutralcolordark;
    padding: 8px 14px;
}

.facet-pagination-top {
	background-color: #F5F5F5;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid #DDDDDD;
  box-shadow: 0 1px 0 #FFFFFF inset;
  margin-bottom: 0;
  padding: 14px 15px 15px;
  text-align: right;
}