.generic-thumb {
	background-image: url($generic-thumb);
}
.calendar-thumb {
	background-image: url($calendar-thumb);
}
.dataset-thumb {
	background-image: url($dataset-thumb);
}
.exam-thumb {
	background-image: url($exam-thumb);
}
.image-thumb {
	background-image: url($image-thumb);
}
.policy-thumb {
	background-image: url($policy-thumb);
}
.presentation-thumb {
	background-image: url($presentation-thumb);
}
.domesday-thumb {
	background-image: url($domesday-thumb);
}
.handbook-thumb {
	background-image: url($handbook-thumb);
}
.thesis-thumb {
	background-image: url($thesis-thumb);
}