<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li>
      <%= link_to_create_asset 'Add an ETD', 'uketd_object' %>
    </li>
  </ul>
</div>