<div class="page-gutter">
  <div class="row-fluid">
    <div class="span8">
<h2>Your details <small>The following are your details and the roles and groups that you are assigned to within Hydra.</small></h2>

<h3>Details</h3>

  <div class="row-fluid">
    <div class="span16">
      <table class="table table-striped table-bordered square-corners">
        <thead>
          <tr>
            <th>Email (username)</th>
            <th></th>
          </tr>
        </thead>
        <tr>
          <td><%= @user.email %></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

<h3>Roles</h3>
<p>You have the following roles...</p>

      <div class="row-fluid">
        <div class="span16">
          <table class="table table-striped table-bordered square-corners">
            <thead>
              <tr>
                <th>Role</th>
                <th>Type</th>
              </tr>
            </thead>
            <% @user.roles.each do |role| %>
              <tr>
                <td><%= role.description %></td>
                <td><%= role.role_type.name %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
